<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>鼎盛商家管理后台</title>
    <meta
      name="keywords"
      content="鼎盛电商"
    />
    <meta
      name="description"
      content="鼎盛电商平台"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="./static/favicon.ico" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1051326_9nvj0hb8zig.css" />
  </head>

  <body>
    <div id="app-box"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
